@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background: 
  linear-gradient(rgba(6, 6, 6, 0.7), rgba(18, 18, 18, 0.8)), 
  url(../public/image/background-monochrome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;   
  background-size: cover;
}

canvas {
  mix-blend-mode: lighten;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 0 10px 5px rgb(39, 39, 39);
}


.Toastify__toast {
  @apply rounded-2xl !important;
}

.Toastify__toast-container {
  @apply z-[99999] px-2 bottom-14 !important;
}
